.card {
  width: 45.625rem;
  height: 17.5rem;
  background-color: white;
  border-radius: 7px;
  display: flex;
  position: relative;

  .card-img > img {
    width: 17.8125rem;
    height: 17.5rem;
    border-radius: 7px 0 0 7px;
  }
  .archive-data {
    padding: 2.375rem 2.5rem;
    .title {
      font-size: 20px;
      font-weight: 500;
      color: $veryDarkGrayishBlue;
    }
    .data {
      color: $desaturatedDarkBlue;
    }

    .user-container {
      &:not(:first-child),
      &:not(:last-child) {
        margin-top: 20px !important;
      }
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      .profile {
        display: flex;
        img {
          height: 40px;
          width: 40px;
          border-radius: 50px;
        }
        .user-details {
          margin-left: 18px;
          .username {
            color: $veryDarkGrayishBlue;
            letter-spacing: 0.12px;
          }
          .date {
            color: $desaturatedDarkBlue;
          }
        }
      }

      .share {
        display: flex;
        align-items: center;
        z-index: 4;
        .btn {
          border: none;
          padding: 0.6rem;
          border-radius: 100%;
          background-color: #dde3e9;
          -webkit-transition: all 0.2s;
          transition: all 0.2s;
          outline: none;
          cursor: pointer;
          z-index: 1;
          -webkit-transition: all 0.1s;
          transition: all 0.1s;
        }
      }

      .social-media {
        position: absolute;
        display: none;
        right: -78px;
        bottom: 95px;
        padding: 3px 36px;
        background-color: #48556a;
        border-radius: 10px;
        z-index: 3;
        width: 200px;
        &::after {
          content: "";
          width: 24px;
          height: 24px;
          background: #48556a;
          position: absolute;
          transform: rotate(45deg);
          bottom: -12px;
          z-index: 2;
          left: calc(50% - 12px);
        }

        &.active {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        & > p {
          font-weight: 200;
          font-size: 13px;
          line-height: 20px;
          letter-spacing: 6px;
          color: #9daec2;
          text-transform: uppercase;
        }
        .social-icons {
          display: flex;
          align-items: center;
          .icon {
            &:not(:last-child) {
              padding-right: 12px;
            }
          }
        }
        .share-mobile {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 53.75rem) {
  .card {
    width: 20.4375rem;
    height: 31.5rem;
    flex-direction: column;
    .card-img > img {
      width: 20.4375rem;
      height: 12.5rem;
      border-radius: 7px 7px 0 0;
    }
    .archive-data {
      padding: 2.75rem 2rem;
      .title {
        font-size: 16px;
      }

      .data {
        margin-block-start: 1.5rem;
      }
      .user-container {
        .social-media {
          right: 0;
          bottom: 0;
          padding: 3px 36px;
          border-radius: 0 0 10px 10px;
          z-index: 3;
          width: 255px;
          height: 65px;

          &::after {
            content: none;
          }

          &.active {
            justify-content: end;
          }

          .social-icons {
            padding-left: 20px;
          }
        }
      }
    }
  }
}
