body {
  font-size: $fontSize;
  font-family: "Manrope", sans-serif;
  background-color: $lightGrayishBlue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.sm-ltr-space {
  letter-spacing: 0.12px;
}

.md-ltr-space {
  letter-spacing: 0.25px;
}

@media (max-width: 53.75rem) {
  .md-ltr-space {
    letter-spacing: 0.2px;
  }
}
